* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  color: #86f6e3;
  font-family: 'Inter', sans-serif;
  background-color: rgb(183, 251, 232);
  /*background: linear-gradient(135deg, #020202, #ebebed);
  background-size: 400% 400%;
  animation: gradientBreath 5s ease infinite;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 0;*/
}

@keyframes gradientBreath {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 20% 40%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}


/* Sidebar */
.sidebar {
  position: fixed;         /* Keep it locked to the left */
  top: 0;
  left: 0;
  width: 200px;            /* Adjust as needed */
  height: 100vh;
  color: rgb(242, 243, 238);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.dashboard {
  margin-left: 200px; /* Match sidebar width */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  min-height: 100vh;
  background-size: 400% 400%;
  animation: gradientBreath 15s ease infinite;
  box-sizing: border-box;
  color: #e4e6ea;
}

@keyframes gradientBreath {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.user-info {
  text-align: center;
}

.user-icon {
  font-size: 2rem;
}

.user-name {
  font-weight: bold;
  margin-top: 0.5rem;
}

.user-role {
  font-size: 0.9rem;
  color: #bbb;
}

.sidebar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
  font-size: 0.95rem;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.sidebar-nav li:hover {
  color: #6c63ff;
}

